<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Vanara.Core" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.AclUI" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.ComCtl32" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.CredUI" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.DwmApi" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.Gdi32" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.Kernel32" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.NTDSApi" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.Ole" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.Security" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.Shared" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.Shell32" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.User32" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.User32.Gdi" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.UxTheme" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.Security" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.Windows.Forms" version="1.0.14" targetFramework="net45" />
</packages>